@{
    ViewData["Title"] = "Listen to that One song you love most on repeat-one.";
}



<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4 id="video-title"></h4>
            <div id="player" class="card">

            </div>
        </div>
        <div class="mdl-card__actions">
            <a href="#" class="mdl-button">Menu</a>
        </div>
    </div>
    @*<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
        <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
    </ul>*@
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4 id="video-title">Instructions</h4> 
            Replace <strong>youtube</strong> with <span>onerepeat</span> before the <strong>.com</strong> to watch it on repeat.
            <ol>
                <li>
                    <span>www.<strong>youtube</strong>.com/watch?v=8VgLKXD-BoY</span>
                </li>
                <li>
                    <span title="Would turn into"></span>
                    <a href="onerepeat.com/?v=8VgLKXD-BoY"><span>www.<span class="lor-logo-text">onerepeat</span>.com/watch?v=8VgLKXD-BoY</span></a>
                </li>
            </ol>                         
        </div>              
        @*<div class="mdl-card__actions">
            <a href="#" class="mdl-button">Menu</a>
            
        </div>*@
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">    
            <li class="mdl-menu__item" disabled>x</li>            
        </ul>
</section>

@*<div class="card">    
    <div class="card-header-centered" id="title"></div>
    <div id="player" class="card"></div>
    <div class="card-footer"></div>
</div>
<div>
    <div id="instructions" class="card">
        <span class="card-title">Instructions</span><i class="mdi-navigation-close btn-close"></i>
        <div class="separator"></div>
        <div class="card-body">
            Replace <strong>youtube</strong> with <span>onerepeat</span> before the <strong>.com</strong> to watch it on repeat.
            <ol>
                <li>
                    <span>www.<strong>youtube</strong>.com/watch?v=8VgLKXD-BoY</span>
                </li>
                <li>
                    <span title="Would turn into"></span>
                    <a href="onerepeat.com/?v=8VgLKXD-BoY"><span>www.<span class="lor-logo-text">onerepeat</span>.com/watch?v=8VgLKXD-BoY</span></a>
                </li>
            </ol>
        </div>
    </div>
</div>*@
